body {
  overflow: hidden;
  font-family: 'Roboto Mono', monospace;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

#canvasWrapper {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
canvas {
  display: block;
  background: url(wood.jpg);
  background-size: cover;
  border: 1px solid #ccc;
}


#secondaryWindows > div {
  display: flex;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-out;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}
#secondaryWindows > div.visible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}



#canvasOverlay {
  position: relative;
}
#abyss-wrapper {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 1;
  width: 100%;
  height: 100%;
}
#abyss {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, #bbb 100%);
}
#messages {
  position: absolute;
  bottom: 0;
  width: 30%;
  padding: 0 2%;
  font-size: 12px;
}
#messages p {
  margin: 0;
}
.fence {
  width: 3%;
  height: 100%;
  background: #85a8b9;
  border-top: 3px solid;
  border-top-left-radius: 5px;
  border-color: #85a8b9;
  border-top-right-radius: 5px;
  box-sizing: border-box;
}

.score {
  font-size: 60px;
  color: #ce771a;
  position: absolute;
  top: 0;
  opacity: 0.8;
  line-height: 1em;
}
#rightScore {
  right: 6px
}
#leftScore {
  left: 6px
}








#chooseSideWindow {
  background: rgba(0,0,0,0.7);
  color: peachpuff;
  font-size: 60px;
  width: 100vw;
  height: 100vh;
}
#chooseSideWindow p {
  margin-top: 0;
  line-height: 1em;
  margin-bottom: 5vh;
}
#chooseSideWindow button {
  width: 200px;
  max-width: 30vw;
  cursor: pointer;
  padding: 15px 0;
  text-align: center;
  letter-spacing: 0.1em;
  margin-left: 15px;
  border: none;
  font-weight: bold;
  transform: translateY(-2px);
  font-size: 40px;
  background: white;
  opacity: 0.3;
}
#chooseSideWindow button.active, #chooseSideWindow button:hover {
  opacity: 1;
}







#helloWindow {
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 20;
}
#helloWindow p {
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  background: rgb(34, 34, 34);
  letter-spacing: 0.05em;
  margin: 0 0 20px 0;
  line-height: 0.75em;
  padding: 0 10px 8px;
}
#playersImg {
  height: 350px;
  max-height: 50vh;
}
#preloaderWrapper {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}











#gameOverWindow {
  z-index: 2;
  opacity: 0.6 !important;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%;
  color: white;
  font-size: 18vw;
}
#gameOverWindow.visible.winner {
  background-image: url(nudeMaja.jpg);
}
#gameOverWindow.visible:not(.winner) {
  background-image: url(dressedMaja.jpg);
}
#gameOverWindow p {
  font-size: 20px;
  margin: 0 10px;
}
